html body {
    background-color: white;
    
    
}
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none  ;
    align-items: center;
    padding: 10px;
}
html body header li {font-family: Arial, Helvetica, sans-serif;

}
